In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/SGH_elections_clean.csv')
df.head()

,state_abbrev,state_name,state_fips,office,dist,year,votes_r,votes_d,votes_2p,d2pshare,...,votes_total,party_o,cand_o,inc_o,win_party,notes_cq,votes_extra,votes_plurality,lag_d2pshare,dpres
0,AK,ALASKA,2,G,NaN,1978,49580.0,25656.0,75236.0,0.341007,...,126910.0,NaN,NaN,NaN,R,NaN,51674.0,23924.0,0.498430,NaN
1,AK,ALASKA,2,G,NaN,2010,151318.0,96519.0,247837.0,0.389445,...,256192.0,ALASKAN INDEPENDENT,"WRIGHT, DON",Challenger,R,"The other vote was: Toien, William S. (Liberta...",3580.0,54799.0,0.458810,NaN
2,AK,ALASKA,2,G,NaN,2014,128435.0,NaN,128435.0,NaN,...,279958.0,NON AFFILIATED,"WALKER, BILL",Challenger,NAF,"The other vote was: Clift, Carolyn F. (Liberta...",16865.0,6223.0,0.389445,NaN
3,AK,ALASKA,2,G,NaN,2022,132632.0,63851.0,196483.0,0.324970,...,263752.0,NON-PARTISAN,"WALKER, BILL",Challenger,R,"The other vote was: Pierce, Charlie (Republica...",12601.0,68781.0,0.463349,NaN
4,AL,ALABAMA,1,G,NaN,1990,633519.0,582106.0,1215625.0,0.478853,...,1216250.0,NaN,NaN,NaN,R,NaN,625.0,51413.0,0.435526,NaN